body { background-color: #fafafa; }
.scale-in { animation: scaleIn 0.3s ease-out; }
@keyframes scaleIn { from { transform: scale(0.95); opacity: 0; } to { transform: scale(1); opacity: 1; } }
.tracking-widest-extra { letter-spacing: 0.2em; }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
.hidden { display: none !important; }
.pix-scroll::-webkit-scrollbar { height: 4px; }
.pix-scroll::-webkit-scrollbar-track { background: #f3f4f6; }
.pix-scroll::-webkit-scrollbar-thumb { background: #d1d5db; border-radius: 10px; }
.no-wrap { white-space: nowrap !important; }